*{
	margin: 0;
	padding: 0;
}
body{
	background: url(img/background-indeximg.min.jpg);
}
ul,ol,li{
	list-style: none;
}
a,u{
	text-decoration: none;
}
/* 标题信息栏 */
.head{
	width: 100%;
	height: 120px;
	background: #b61541;
	.head_centre{
		width: 980px;
		height: 100%;
		margin: 0 auto;
		position:relative;
		img{
			float:left;
		}
		.head_r{
			float: right;
			//overflow: hidden;
			.head_rLi{
				float: left;
				margin-top:2px;
				.top_nav{
					float: left;
					list-style: none;
					font-size: 12px;
					color: #fff;
					 a{
						text-decoration: none;
						color: #fff;
					}
					.one_size{
						margin: 0 5px;
					}
					 .two_size{
						margin: 0 8px;
					}
				}
			}
			.head_rTxt{
				float: right;
				.txt{
					display: block;
					background:url(img/ico-magnifying.min.gif) no-repeat center right, url(img/input-back.min.jpg) no-repeat;
					padding-left: 4px;
					width: 180px;
					height: 20px;
					margin-top: 1px;
					margin-left: 10px;
					border-bottom: 1px solid #b1b1b1;
					border-right:1px solid #b1b1b1;
					font-size: 12px;
					line-height: 20px;
				//	color: #b1b1b1;
				//	vertical-align: middle;
				//	list-style-type: none;
				}
			}
			.city{
				
				position: absolute;
				bottom: 45px;
				color: #fadeb5;
				right: 0;
				a{
					color: #fff;
					text-decoration: none;
				}
			}
			.phone{
				position: absolute;
				color: #f2d4a4;
				bottom: 10px;
				right: 0;
				img{
					margin-right: 5px;
					padding-top: 4px;
				}
			}
			
		}
			
	}
}
/* 导航栏 */
.nav{
	width: 100%;
	height: 28px;
	background: #fadeb5;
	border-top: 1px solid #fff3e0;
	border-bottom: 1px solid #d1a9bf;
	.center{
		width: 980px;
		height: 28px;
		margin: 0 auto;
		li{
			float: left;
			width: 140px;
			height: 28px;
			text-align: center;
			line-height: 28px;
			font-size: 12px;
			background: url(img/nav_line.min.jpg)no-repeat 0 0;
			a{
				color: #8c5b29;
				width: 140px;
				height: 28px;
				display: block;
			}
			.nav-layer{
				position: absolute;
				background: #fff;
				width: 140px;
				display: none;
				z-index: 999;
				li{
					background: none;
					padding: 12px 0;
					a{
						color: #000;
					}
					a:hover{
						color: #f00;
						text-decoration: underline;
					}
				}
			}
		}
		.one_none{
			background: none;
		}
		.last_pig{
			position: relative;
			.nav-hover{
				background: url(img/shoppin-cart.min.jpg) no-repeat 25px 6px;
			}
			
			.shopping_trolley{
				position: absolute;
				width: 236px;
				right: 0;
				padding-top: 1px;
				border:1px solid #adadad;
				font-size: 12px;
				display: none;
				z-index: 999;
				h2{
					width: 100%;
					height: 24px;
					background: #b13355;
					font-size: 12px;
					color: #fff;
					line-height: 24px;
				}
				.opcity_none{
					padding:12px 20px;
					line-height: 28px;
					background: #fff;
					
				}
			}
			
		}
	}
}
/* 尾部 */
.footer{
	width: 100%;
	overflow: hidden;
	min-width: 1000px;
	margin-top: 80px;
	.tiles{
		overflow: hidden;
		background:url(img/footer-buttomimg.min.jpg) no-repeat left bottom #b61541;
		width: 100%;
		padding:20px 0;
		.tiles_center{
			width: 980px;
			margin: 0 auto;
			img{
				float: left;
			}
			.about{
				width: 364px;
				height: 50px;
				margin-top: 5px;
				margin-left: 160px;
				float:left;
				p{
					font-size: 14px;
					color: #fff;
					line-height: 24px;
					span{
						display: inline-block;
						margin-right: 42px;
					}
				}
				.blog{
					height: 25px;
					position: relative;
					img{
						padding-left:10px;
						padding-right: 60px;
					}
					.email{
						border: 1px solid #ccc;
						width: 150px;
						height: 19px;
						line-height: 19px;
						font-size: 12px;
						vertical-align: bottom;
					}
					span{
						background:url(img/emile-imgs.min.jpg) no-repeat;
						position: absolute;
						right:20px;
						width: 88px;
						height: 20px;
					}
				}
				
			}
		}
	}
	.footer_bottom{
		background: url(img/footer_bg.min.png) repeat-x left top;
		padding: 18px 0 20px;
		text-align: center;
		color: #b49759;
		font-size: 16px;
		.wrap{
			width: 1024px;
			margin: 0 auto;
		}
		.wrap_center{
			font-size: 14px;
			margin-top: 15px;
			a{
				color: #b49759;
				span{
					padding: 0 25px;
				}
			}
		}
		p{
			font-size: 12px;
			margin-top: 40px;
			margin-left: 26px;
			.interval{
				padding-right:26px;
			}
			a{
				color:#b49759;
				padding-right: 12px;
			}
		}
	}
}