@import 'public';
/* 详情信息 */
.details_all{
	overflow: hidden;
	position: relative;
	z-index: 99;
	width: 100%;
	min-width: 1000px;
	.content_wap{
		overflow: hidden;
		position: relative;
		z-index: 9;
		padding: 20px 0;
		.content_center{
			width: 980px;
			margin: 0 auto;
			position: relative;
			.details_nav{
				padding: 15px 0;
				font-size: 12px;
				color: #b49759;
				border-bottom: 1px solid #b49759;
				a{
					color: #b49759;
					margin-right: 7px;
				}
			}
			.jasmine_all{
				position: relative;
				padding-top: 15px;
				.jasmine_l{
					padding-left: 10px;
					width: 500px;
					float: left;
					.pic{
						position: relative;
						display: inline-block;
						.pic_500{
							float: left;
							cursor: pointer;
						}
						.seek{
							position: absolute;
							right: 4px;
							bottom: 8px;
							width: 20px;
							height: 16px;
							cursor:pointer;
							
						}
					}		
				}
				.jasmine_r{
					color: #959595;
					padding-top: 27px;
					width: 405px;
					padding-left: 65px;
					float: left;
					h1{
						font-size: 24px;
						color: rgb(180,151,89);
						font-weight: normal;
					}
					.FF{
						font-size: 14px;
						color: #b49759;
						}
					.tips{
						padding: 10px 0;
						border-bottom: 1px solid #959595;
						font-size: 12px;
						color: #959595;
					}
					.taste{
						font-size: 12px;
						margin:8px 0;
					}
					
					i{	
						display:inline-block;
						width: 40px;
						height: 37px;
						line-height: 37px;
						font-size: 12px;
						font-style: normal;
						float: left;
					}
					b{	
						display:inline-block;
						height: 37px;
						line-height: 37px;
						font-size: 30px;
						color: #9e002b;
						margin-top: -3px;
				
						span{
							font-size: 24px;
						}
					}
					.norm{
						clear: both;
						span{
							font-size: 12px;
						}
						p{
							display: inline-block;
							width: 128px;
							height: 30px;
							border: 1px solid #9e002b;
							font-size: 12px;
							background:#e8eff1 url(img/icon_check.min.png)no-repeat right bottom; 
							line-height: 30px;
							text-align: center;
						}
						margin-bottom: 25px;
					}
					.num{
						span{
							font-size: 12px;
						}
						a{
							display: inline-block;
							width: 20px;
							height: 20px;
							background: #e8eff1;
							line-height: 20px;
							text-align: center;
						}
						input{
							width: 36px;
							height: 22px;
							line-height: 22px;
							text-align: center;
							background: url(img/input-back.min.jpg)no-repeat;
							border: none;
						}
					}
					.shopping{
						margin-left: 36px;
						span{
							
							margin-top: 15px;
							display: inline-block;
							width: 118px;
							height: 36px;
							line-height: 36px;
							text-align:center;
						}
						.cl_red{
							background: #9e002b;
							font-size: 12px;
							color: #fff;
						}
						.cl_yl{
							margin-left: 5px;
							background: #5f4b1c;
							font-size: 12px;
							color: #fff;
						}
					}
				}
			}
			.details_Introduce{
				clear: both;
			}
		}
	}
}
/* 返回顶部 */
.top_scroll{
	left: 1216px;
	display: none;
	position: fixed;
	z-index: 200;
	top: 50%;
	width: 144px;
	.customer_service_online{
		height: 35px;
		line-height: 35px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: #eecd9c;
		cursor: pointer;
		background: url(img/top-bg.min.png) no-repeat;
	}
	.opration{
		height: 47px;
		line-height: 47px;
		color: #955b24;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		background-position: 0 -79px;
		cursor: pointer;
		background: url(img/top-bg.min.png) no-repeat 0 -78px;
	}
}