@import 'public';

/* 背景图片 */
.slider_L{
	overflow:hidden;
	position:relative;
	z-index:99;
	width: 100%;
	min-width:1000px;
	.slider{
		position: relative;
		
		height: 330px;
		z-index: 1;
		margin: auto;
		
		.slider_img{
			
			
			position: absolute;
			z-index: 1;
			li{
				float: left;
				img{
					display: block;
					position: absolute;
				}
			}
		}
		.slider_trigger{
			width: 980px;
			height: 20px;
			position: absolute;
			z-index: 9;
			left: 80%;
			bottom: 15px;
			overflow: hidden;
			
				li{
					float: left;
					width: 20px;
					height: 20px;
					text-align: center;
					background: #eecd9c;
					color: #955b24;
					margin-left: 20px;
					line-height: 20px;
				}
			}
		}
	}

/* 内容 */
.body_all{
	width: 100%;
	.body_all_center{
		width: 980px;
		margin: 0 auto;
		position: relative;
		
		.star_product{
			padding-top: 40px;
			h2{
				height: 24px;
				font-size: 18px;
				color: #b49759;
				line-height: 24px;
				border-bottom: 1px solid #b49759;
				padding-left: 10px;
			}
			ul{
				height: 339px;
				li{
					float: left;
					margin: 20px 15px;
					position: relative;
					.mark{
						width: 82px;
						height: 19px;
						position: absolute;
						background:url(img/click-collection-img.min.jpg) no-repeat;
						z-index: 99;
						display: none;
					}
					img{
						border: 1px solid #eceaed;
						display: block;
					}
					h4{
						margin-top: 10px;
						width: 215px;
						
						a{
							height: 24px;
							color: #545454;
							font-size: 14px;
							font-weight: normal;
							padding-top: 10px;
							line-height: 24px;
						}
						a:hover{
							color: #f00;
							text-decoration: underline;
						}
					}
					p{
						width: 215px;
						height: 20px;
						line-height: 20px;
						color: #545454;
						font-size: 14px;
						position: relative;
						margin-top:3px; 
						margin-bottom: 10px;
						span{
							position: absolute;
							right: 0;
							color: #9e002b;
							font-size: 20px;
							b{
								font-size: 18px;
							}
							i{
								font-style: normal;
								font-size: 12px;
							}
						}
					}
					.buy{
						height: 30px;
						line-height: 30px;
						text-align: center;
						background: url(img/pro-list-add-buy.min.gif) no-repeat;
						a{
							color: #fff;
							font-size: 14px;
							font-weight: bold;
						}
					}
				}
			}
			
		}
		.sweet_moment{
		
			padding-top: 40px;
			h2{
				height: 24px;
				font-size: 18px;
				color: #b49759;
				line-height: 24px;
				border-bottom: 1px solid #b49759;
				padding-left: 10px;
				margin-bottom: 10px;
			}
			.series_pic{
				
				width:980px ;
				margin: 0 auto;
				overflow: hidden;
				.cur{
					width: 350px;
					
				}
				li{
					position: relative;
					width: 210px;
					height: 423px;
					float: left;
					overflow: hidden;
					img{
						display: block;
					}
					.mark{
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 410px;
						background: #000;
						opacity: .6;
					}
					.bles{
						height: 73px;
						background: url(img/shutter_bg.min.gif) no-repeat;
						color: #fff;
						text-align: right;
						padding-right: 15px;
						overflow: hidden;
						position: relative;
						.embed{
							position: absolute;
							width:100%;
							height:73px;
							right: 0;
							top: 0;
							background:url(img/shutter_bg.min.gif)no-repeat 0 -77px;
							display: none;
						}	
						h4{
							margin-top: 15px;
							font-size: 16px;
							line-height:20px;
							font-weight: bold;
						}
					}
					
				}
				
			}
			.content_cake{
				.cake_prev{
					background: url(img/slide-item-arrow.min.png) no-repeat;
					position: absolute;
					z-index: 9;
					top: 38%;
					margin-top: -14px;
					width: 16px;
					height: 27px;
				}
				.cake_next{
					background: url(img/slide-item-arrow.min.png) no-repeat -18px 0;
					position: absolute;
					z-index: 9;
					top: 38%;
					margin-top: -14px;
					width: 16px;
					height: 27px;
					right: 0;
				}
				margin: 25px 0 0 0;
				overflow: hidden;
				width: 980px;
				position: relative;
				height: 306px;
				.cake_wrap{
					position: relative;
					.item_1{
						display: block;
					}
					.item_2{
						display: none;
					}
					.item_3{
						display: none;
					}
					.item_4{
						display: none;
					}
					.cake_item{
						width: 980px;
						height: 306px;
						float: left;
						position: absolute;
						overflow:hidden;
						ul{
							z-index: 1;
							width: 1200px;
							overflow: hidden;
							li{
									float: left;
									margin-left:20px;
									width: 224px;
									color: #545454;
									position: relative;
									img{
										width: 210px;
										height: 210px;
										display: block;
									}
									h4{
										margin-top: 10px;
										width: 215px;
										overflow: hidden;
										height: 24px;
										white-space: nowrap;
										text-overflow: ellipsis;
										a{
											color: #333;
											font-size: 14px;
											font-weight: normal;
											line-height: 24px;
										}
										a:hover{
											color: #f00;
											text-decoration: underline;
										}
									}
									p{
										width: 215px;
										height: 20px;
										line-height: 20px;
										color: #545454;
										font-size: 14px;
										position: relative;
										overflow: hidden;
										padding-bottom: 10px;
										
										u{
											display: inline-block;
											width:148px;
											overflow: hidden;
											height:20px;
											white-space: nowrap;
											text-overflow: ellipsis;
										}
										span{
											position: absolute;
											right: 0;
											color: #9e002b;
											font-size: 20px;
											b{
												font-size: 18px;
											}
											i{
												font-style: normal;
												font-size: 12px;
											}
										}
									}
									.buy{
										height: 30px;
										line-height: 30px;
										text-align: center;
										background: url(img/pro-list-add-buy.min.gif) no-repeat;
										a{
											color: #fff;
											font-size: 14px;
											font-weight: bold;
										}
									}
								}
							}
						}
					}
				
				}
		}
	}
}
/* 尾部 */
.footer{
	width: 100%;
	overflow: hidden;
	min-width: 1000px;
	margin-top: 80px;
	.tiles{
		overflow: hidden;
		background:url(img/footer-buttomimg.min.jpg) no-repeat left bottom #b61541;
		width: 100%;
		padding:20px 0;
		.tiles_center{
			width: 980px;
			margin: 0 auto;
			img{
				float: left;
			}
			.about{
				width: 364px;
				height: 50px;
				margin-top: 5px;
				margin-left: 160px;
				float:left;
				p{
					font-size: 14px;
					color: #fff;
					line-height: 24px;
					span{
						display: inline-block;
						margin-right: 42px;
					}
				}
				.blog{
					height: 25px;
					position: relative;
					img{
						padding-left:10px;
						padding-right: 60px;
					}
					.email{
						border: 1px solid #ccc;
						width: 150px;
						height: 19px;
						line-height: 19px;
						font-size: 12px;
						vertical-align: bottom;
					}
					span{
						background:url(img/emile-imgs.min.jpg) no-repeat;
						position: absolute;
						right:20px;
						width: 88px;
						height: 20px;
					}
				}
				
			}
		}
	}
	.footer_bottom{
		background: url(img/footer_bg.min.png) repeat-x left top;
		padding: 18px 0 20px;
		text-align: center;
		color: #b49759;
		font-size: 16px;
		.wrap{
			width: 1024px;
			margin: 0 auto;
		}
		.wrap_center{
			font-size: 14px;
			margin-top: 15px;
			a{
				color: #b49759;
				span{
					padding: 0 25px;
				}
			}
		}
		p{
			font-size: 12px;
			margin-top: 40px;
			margin-left: 26px;
			.interval{
				padding-right:26px;
			}
			a{
				color:#b49759;
				padding-right: 12px;
			}
		}
	}
}
/* 返回顶部 */
.top_scroll{
	left: 1216px;
	display: none;
	position: fixed;
	z-index: 200;
	top: 50%;
	width: 144px;
	.customer_service_online{
		height: 35px;
		line-height: 35px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		color: #eecd9c;
		cursor: pointer;
		background: url(img/top-bg.min.png) no-repeat;
	}
	.opration{
		height: 47px;
		line-height: 47px;
		color: #955b24;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		background-position: 0 -79px;
		cursor: pointer;
		background: url(img/top-bg.min.png) no-repeat 0 -78px;
	}
}