@import 'public';
/* 登录 */
.login_all{
	width: 100%;
	
	position: relative;
	z-index: 99;
	overflow: hidden;
	.content{
		overflow: hidden;
		position: relative;
		z-index: 9;
		width: 980px;
		margin: 0 auto;
		background:  url(img/background-indeximg.min.jpg) no-repeat center top;
		padding:20px 0;
		.wrap_center{
			margin: 100px auto 208px auto;
			border: 1px solid #dedede;
			overflow: hidden;
			background: #f9f7f1;
			.left{
				width: 660px;
				border: 1px solid #ccc;
				float: left;
				.login_kind{
					width: 100%;
					height: 37px;
					a{
						background:#fff; 
						color: #aaa;
						border-bottom: 0;
						display: block;
						float: left;
						width: 329px;
						height: 37px;
						line-height: 37px;
						text-align: center;
						font-size: 16px;
						font-weight: bold;
						border-right: 1px solid #dedede;
					}
				}
				.reg_wrap{
					margin: 12px 0 58px 14px;
					.reg_form{
						width: 570px;
						margin: 0 auto;
						font-size: 13px;
						color: #545454;
						ul{
							padding-bottom: 28px;
							li{
								margin: 22px auto auto auto;
								.lab_head{
									display: inline-block;
									width: 154px;
									height: 21px;
									text-align: right;
									padding-right: 12px;
								}
								input{
									border: 0;
									width: 240px;
									height: 21px;
									padding: 4px 0 4px 7px;
									background: url(img/input-back.min.jpg)no-repeat;
									background-size: 247px 29px;
									vertical-align: middle;
								}
								.random_1{
									display: inline-block;
									width: 82px;
									height: 27px;
									background: #666;
									border: 1px solid #e0dfdd;
									vertical-align: middle;
									background: url(img/1.min.png)no-repeat;
									color: #000;
									font-size: 16px;
									text-align: center;
									line-height: 27px;
								}
								
								u{
									padding-left: 162px;
									font-size: 12px;
									color: #d7003b;
									
								} 
								
								.login{
									width: 124px;
									height: 30px;
									text-align: center;
									line-height: 30px;
									background: #9e002b;
									display: inline-block;
									margin-bottom: 14px;
									a{
										color: #fff;
									}
								}	
								.fg_pw{
									text-decoration: underline;
									color: #000;
								}
								p{
									padding-left: 162px;
									a{
										color: #9e002b;
									}
								}
								
							}
						}
					}
				}
			}	
			.right{
				width: 314px;
				float: left;
				border: 1px solid #ccc;
				.right_center{
					margin: 12px 0 35px 30px;
					h2{
						font-size: 16px;
						color: #8c5b29;
						padding: 20px 0 0 0;
					}
					.login{
						width: 124px;
						height: 30px;
						text-align: center;
						line-height: 30px;
						background: #9e002b;
						margin-top: 30px;
						a{
							color: #fff;
						}
					}
					.coop{
						margin: 20px auto auto auto;
						p{
							font-size: 13px;
							line-height: 18px;
						}
						h3{
							color: #8c5b29;
							font-size: 16px;
							padding-top: 42px;
						}
						i{
							margin-top:6px;
							display: inline-block;
							font-style: normal;
							span{
								height: 17px;
								line-height: 17px;
								font-size: 13px;
								padding-left: 2px;
								color: #000;
							}
						}
						.icon_zfb{
							
							color: #ccc;
							text-align: center;
							
						}
						.icon_xinlang{
						
							color: darkorange;
							text-align: center;
							
						}
						.icon_QQ{
							font-size: 13px;
							text-align: center;
							
						}
						h4{
							color: #8c5b29;
							font-size: 16px;
							padding-top: 12px;
						}
						i{
							margin-top:6px;
							display: inline-block;
							font-style: normal;
							margin-bottom: 45px;
							span{
								height: 17px;
								line-height: 17px;
								font-size: 13px;
								padding-left: 2px;
								
								color: #000;
							}
						}
						.icon_mine{
							
							color: darksalmon;
							text-align: center;
							
						}
					}
					
				}
			}
		}
	}
}